/*Deze css file is puur een 'voorbeeld-frontend' en -hoeft- niet aangepast te worden. In principe hoef je alleen*/
/*de ...-service.js files in te vullen met de juiste promise-logica en dan zou de UI moeten werken.*/
/*Uiteraard -mag- je deze files wel aanpassen, want heel fraai is deze UI nou ook weer niet:)*/

li input, li select {
    display: block;
    width: 10rem;
}

ul {
    list-style-type: none;
}
